In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import differential_evolution as de

In [7]:
raw_data = pd.read_csv('dados\MC carpel H 5-min.csv')
raw_data.head(5)

   time  temperature       tga      dtga   dtga_5
0     0       450.35  10.32687 -0.000092 -0.00046
1     5       450.85  10.32643 -0.000088 -0.00044
2    10       451.25  10.32595 -0.000096 -0.00048
3    15       451.65  10.32550 -0.000090 -0.00045
4    20       452.15  10.32502 -0.000096 -0.00048

In [8]:
raw_data.dtypes

time             int64
temperature    float64
tga            float64
dtga           float64
dtga_5         float64
dtype: object